.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
}



.photo-item {
  position: relative;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease; 
  overflow: hidden; 
  margin-bottom: 10px;
}

.photo-item img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px; 
}

.photo-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); 
  transform: scale(1.05); 
}
