/* MainScreenAboutUs.css */

.AboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 100%;
    margin-bottom: 30px;
}

.AboutUsTitle h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #333; /* dark text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* text shadow */
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.AboutUsContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding: 0px 40px;
}

.AboutUsImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    height: 100%;
    width: 50%;
}

.AboutUsImages img {
    width: 30%;
    height: 100%;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}

.AboutUsImages img:hover {
    transform: scale(1.05);
}

.AboutUsPara {
    width: 40%;
    margin-left: 50px;
    color: #333; 
}

.AboutUsPara p {
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}
